<!DOCTYPE html>
<html>

<head>
  <title>Lisper</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/UV-view.css">

</head>

<body>
  <main>
    <%if(locals.UV){%>
    <div id="content">
      <h1>UV Tracker</h1>
      <div class="card" >
        <%if(+UV.uv_max < 3){%>
        <p>Low UV index  <span class="low"><%= UV.uv_max %></span></p>
        <%}%>
        <%if(+UV.uv_max >= 3 && +UV.uv_max < 6){%>
        <p>Moderate UV index  <span class="moderate"><%= UV.uv_max %></span></p>
         <%}%>
         <%if(+UV.uv_max >= 6 && +UV.uv_max < 8 ){%>
        <p>high UV index  <span class="high"><%= UV.uv_max %></span></p>
        <%}%>  
        <%if(+UV.uv_max >= 8 && +UV.uv_max < 11){%>
            <p>Very-High UV index <span class="veryHigh"><%= UV.uv_max %></span></p>
             <%}%>   
             <%if(+UV.uv_max >= 11){%>
                <p>Extreme UV index  <span class="extreme"><%= UV.uv_max %></span></p>
                 <%}%> 
      </div>
      <div class="SPF" >
        <%if(+UV.uv_max < 3){%>
        <p>10 SPF</p>
        <div>
          <p>60 min </p>
          <span>time to get sun burn</span>

        </div>
        <%}%>
        <%if(+UV.uv_max >= 3 && +UV.uv_max < 6){%>
        <p>30 SPF</p>
        <div>
          <p>25 min </p>
          <span>time to get sun burn</span>

        </div>
         <%}%>
         <%if(+UV.uv_max >= 6 && +UV.uv_max < 8 ){%>
        <p>30 SPF</span></p>
        <div>
          <p>25 min </p>
          <span>time to get sun burn</span>

        </div>
        <%}%>  
        <%if(+UV.uv_max >= 8 && +UV.uv_max < 11){%>
            <p>50 SPF</p>
            <div>
              <p>10 min </p>
              <span>time to get sun burn</span>
            </div>
             <%}%>   
             <%if(+UV.uv_max >= 11){%>
                <p>50 SPF</p>
                <div>
                  <p>10 min </p>
                  <span>time to get sun burn</span>
                </div>
                 <%}%> 
                 
      </div>
      <div class="SPF" >
        <div class="image"></div>
        <div>
          <p><%= UV.uv_max_time%></p>
          <span>Peak UV hour</span>
        </div>
        </div>
      <%}%>
    </div>
    <%if (locals.error){%>
    <p id="error"><%= error%></p>
    <%}%>
  </main>


</body>


</html>